---
swagger: "2.0"
info:
  description: |
    This API returns estimated air particulate exposures levels given a time period and spatial location of interest.

    Estimates are derived from the EPA CONUS estimates of air quality available at https://www.epa.gov/hesc/rsig-related-downloadable-data-files. These data sets provide 8 -hour ozone daily maximums and daily PM2.5 daily averages. EPA provides estimates at the resolution of censusUS Census tract centroids, for the continental US. For a given location, this API returns the estimate for the census tract the location occurs in.

    Years are 2002-2014.<br \>
    Resolution for model estimates is 12 km, provisioned at a resolution of the US Census track centroid.

    The data sets sources are derived from air quality monitoring data from the National Air Monitoring Stations and Local Air Monitoring Stations (NAMS/SLAMS) and numerical output from the Models-3/Community Multiscale Air Quality ((CMAQ - https://www.epa.gov/cmaq).

    The API currently provides the following exposure variables:
      * O3: provides estimated O3 concentration levels.  Estimated values are daily maximums in units of ug/m3.
      * PM2.5:  provides estimated pm2.5 concentration levels.  Estimated values are daily averages in units of parts per billion by volume (ppbV).

    Locations are expressed using WGS84 decimal format. WGS84 is the World Geodetic System for expressing latitude and longitude.  For example, the Statue of Liberty in New York City is at latitude 40.689249 and longitude -74.044500.
  version: "1.0.0"
  title: "CMAQ Exposures API"
  contact:
    name: "Lisa Stillwell"
    email: "lisa@renci.org"
  license:
    name: "MIT"
    url: "http://opensource.org/licenses/MIT"
host: "bdt-cmaq.renci.org:8080"
basePath: "/cmaq_exposures_api/v1"
schemes:
- "https"
paths:
  /values:
    get:
      summary: "Retrieves air pollutant exposure levels"
      description: |
        Get estimated air pollutant exposure levels based on time and location
      operationId: "get_values"
      produces:
      - "application/json"
      parameters:
      - name: "start_date"
        in: "query"
        description: "start date of range, ie: MM-DD-YYYY"
        required: true
        type: "string"
        format: "date"
      - name: "end_date"
        in: "query"
        description: "end date of range, ie: MM-DD-YYYY"
        required: true
        type: "string"
        format: "date"
      - name: "latitude"
        in: "query"
        description: "latitude in decimal degrees format, ie: 35.7"
        required: true
        type: "string"
      - name: "longitude"
        in: "query"
        description: "longitude in decimal degrees format, ie: -80.33"
        required: true
        type: "string"
      - name: "utc_offset"
        in: "query"
        description: "timezone offset from UTC (utc, eastern, central, mountain, pacific)\
          \ - default is utc"
        required: false
        type: "string"
        default: "utc"
      responses:
        200:
          description: "OK"
          schema:
            type: "object"
            properties:
              values:
                type: "array"
                items:
                  $ref: "#/definitions/inline_response_200_values"
        400:
          description: "Invalid parameter"
        404:
          description: "No values found"
        500:
          description: "Server error"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
definitions:
  inline_response_200_cmaq_output:
    properties:
      date:
        type: "string"
        format: "date"
        example: "2010-01-01"
      value:
        type: "number"
        format: "float"
        example: 49.819595
    example:
      date: "2010-01-01"
      value: 49.819595
  inline_response_200:
    properties:
      values:
        type: "array"
        items:
          $ref: "#/definitions/inline_response_200_values"
    example:
      values:
      - latitude: "35.7"
        variable: "o3"
        cmaq_output:
        - date: "2010-01-01"
          value: 49.819595
        - date: "2010-01-01"
          value: 49.819595
        longitude: "-80.33"
      - latitude: "35.7"
        variable: "o3"
        cmaq_output:
        - date: "2010-01-01"
          value: 49.819595
        - date: "2010-01-01"
          value: 49.819595
        longitude: "-80.33"
  inline_response_200_values:
    properties:
      variable:
        type: "string"
        example: "o3"
      latitude:
        type: "string"
        example: "35.7"
      longitude:
        type: "string"
        example: "-80.33"
      cmaq_output:
        type: "array"
        items:
          $ref: "#/definitions/inline_response_200_cmaq_output"
    example:
      latitude: "35.7"
      variable: "o3"
      cmaq_output:
      - date: "2010-01-01"
        value: 49.819595
      - date: "2010-01-01"
        value: 49.819595
      longitude: "-80.33"
parameters:
  search:
    name: "search"
    in: "query"
    description: "search for exposure variable like - default is empty"
    required: false
    type: "string"
  start_date:
    name: "start_date"
    in: "query"
    description: "start date of range"
    required: true
    type: "string"
    format: "date"
  end_date:
    name: "end_date"
    in: "query"
    description: "end date of range"
    required: true
    type: "string"
    format: "date"
  latitude:
    name: "latitude"
    in: "query"
    description: "latitude in decimal degrees format, ie: 35.7"
    required: true
    type: "string"
  longitude:
    name: "longitude"
    in: "query"
    description: "longitude in decimal degrees format, ie: -80.33"
    required: true
    type: "string"
  utc_offset:
    name: "utc_offset"
    in: "query"
    description: "timezone offset from UTC (utc, eastern, central, mountain, pacific)\
      \ - default is utc"
    required: false
    type: "string"
    default: "utc"
